@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background: #d9d9d9;
  min-height: 100vh;
}

/* ******************************side NAVBARR******************* */

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 280px;
  background: #0d47a1;
  overflow: hidden;
  transition: 1s;
}

nav:hover {
  width: 280px;
  transition: 1s;
}

.logo {
  text-align: center;
  display: flex;
  margin-top: 0 0 0 10px;

  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 20%;
}

.logo span {
  font-weight: bold;
  color: white;

  padding-left: 15px;
  font-size: 35px;
  text-transform: uppercase;
}

a {
  position: relative;
  width: 280px;
  font-weight: bold;
  font-size: 16px;
  color: #ffcf70;
  display: table;
  padding: 20px;
}

.dashlogo {
  position: relative;
  width: 40px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 8px;
  margin-left: 15px;
}

a:hover {
  color: #33afcd;
  transition: 0.5s;
}
.logout {
  position: absolute;
  bottom: 0;
}

/*****************************main section************************* */

.container {
  display: flex;
}

#main-dashboard {
  position: relative;
  padding: 20px;
  width: 100%;
  display: block;
}

.main-top {
  display: flex;

  margin-left: 10px;
  font-size: 1.7rem;
}

/*************************employee card********************* */

#main-dashboard .card {
  width: 300px;
  height: 160px;
}

#main-dashboard .employee {
  display: flex;
}

.card {
  margin-top: 10px;
  background: white;
  text-align: center;
  border-radius: 25px;
  margin-right: 150px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.01);
  color: grey;
}

.e-text {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  margin-left: 8px;
  text-transform: uppercase;
  color: #0c82b9;
}
.employee {
  margin-top: 10px;
}
.e-logo {
  width: 65px;
  height: 60px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 5px;
  border: solid rgb(76, 100, 165);
}
.e-description {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 5px;
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
  color: #798e94;
}

.slide-container {
  max-width: 1000px;
  max-height: 500px;
}

/****************************TASKS*8********************* */
.tasks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.t-card {
  background-color: #f2f2f2;
  padding: 15px;
  margin-top: 9px;
  border-radius: 30px;
  color: grey;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.t-card:hover {
  transition: transform 0.5s ease;
  transform: scale(1.03);
  cursor: pointer;
}

.text-button {
  display: flex;
}

.heading {
  margin-top: 0;
}
.task-no {
  color: #484b4f;
}
.t-description {
  margin-top: 5px;
  font-size: 14px;
  color: #555a56;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-small {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button-small:hover {
  margin-left: 0;
  transform: translateY(2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: grey;
}

/* ******************UUUUUUPDATEEEEEEEEEE****************************** */

#main-update {
  position: relative;
  padding: 20px;
  width: 100%;

  background-color: brown;
  display: none;
}
#main-note {
  position: relative;
  padding: 20px;
  width: 100%;

  background-color: yellow;
  display: none;
}
#main-leave {
  position: relative;
  padding: 20px;
  width: 100%;

  background-color: green;
  display: none;
}

/* *********************************UUUUUUUUUUUUUUPDATE TASKKKKSSSSSSSSSSSSSSSSSSSSSSSS*********************************************** */
